<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunify</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.jpeg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='songs.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="{{ url_for('static', filename='myScript.js') }}"></script>
</head>
<body>   
    <div class="main">
        <div class="sidebar">
            <div class="logo">
            </div>
            <div class="log">
                Tunify</div>
            <ul>
                <li>
                    <a href="/home" >
                        <span class="icon"><i class="bi bi-house-door"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/myprofile" >
                        <span class="icon"><i class="bi bi-person-circle"></i></span>
                        <span class="item">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/mylib" class="active">
                        <span class="icon"><i class="bi bi-music-note-list"></i></span>
                        <span class="item">My Library</span>
                    </a>
                </li>
                <li>
                    <a href="/fav">
                        <span class="icon"><i class="bi bi-heart"></i></span>
                        <span class="item">Favourites</span>
                    </a>
                </li>
                <li>
                    <a href="/myart">
                        <span class="icon"><i class="bi bi-star"></i></span>
                        <span class="item">My Artists</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="maincon">
            <div class = "container1">
                <div class="box1">
                    <form class="search-form" name="f1" action="/showsongs/Telugu" method="POST">
                        <div class="field">
                            <input id="Search" name="Search" placeholder="Search" />
                            <label for="Search">Search</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "libcontainer" id="libcontainer">
                <div class="plistcont">
                    {% for playlist in profiles %}
                    <div class="songcont">
                        <div class="counter"></div>
                        <div class="picconto">
                            <div class="picconti" style="background-image: url({{playlist[4]}});"></div>
                        </div>
                        <div class="songcontent">
                            <div class="sname"><a href="/showplsongs/{{playlist[0]}}" class="plist">{{ playlist[2] }}</a></div>
                            <div class="sdur">{{ playlist[1] }}&nbspsongs</div>
                            <div class="plus">
                                <a href="#" onclick="deleteplaylist('{{playlist[0]}}',this)">
                                    <span class="icon" title="delete playlist"><i id="removeicon" class="bi bi-x"  style="color: rgb(179, 170, 154);"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="#" onclick="showcrbox(1)"><div class="crplist" >+&nbspCreate&nbspPlaylist</div></a>
            </div>
            <div class = "crpl" id="crpl">
                <div class="crptext">Your Playlist Name</div>
                <div class="enterbox"><form class="search-form" name="crplist" action="/createplaylist" method="POST">
                    <div class="field">
                        <input id="crp" class="crpinp" name="crp" placeholder="Search" />
                        <label for="crp"></label>
                    </div>
                </form></div>
                <a href="#"><div class="cancel" onclick="showcrbox(0)">Cancel</div></a>
            </div>
        </div>
    </div>
</body>
</html>